{
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "no-console": "off",
        "import/extensions": "off"
    }
}
